.divClass h1{
    color:whitesmoke;
}
.divClass #spainId{
    font-size: 50px;
    margin: 50px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: cornsilk;
    padding: 50px;
    border: 5px rgb(237, 228, 100);
    display: grid;
    place-items: center;
}
#thirdDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    
}
body{
    background: url(perry.jpg);
}
#div1{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div3{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div4{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div5{
    width: 20px;
    height: 20mm;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div6{
    display: flex;
    align-items: center;
    justify-content: center;
}
#spanId{
    display: flex;
    align-items: center;
    justify-content: center;
}